<div class="h-full w-full bg-white text-black">
  <div class="sticky top-0 mx-auto flex justify-between bg-white font-semibold" [formGroup]="form">
    <i class="fas fa-share-from-square cursor-pointer p-1 text-[40px]" (click)="goBack()"></i>
    <div class="p-2 text-2xl">Prévalences des prescriptions par type de psychotrope</div>
    <div class="flex h-8 p-2">
      <i class="fas fa-search p-1 text-[24px]"></i>
      <input type="text" formControlName="search" class="bg-white" />
    </div>
  </div>
  <div class="reltative mx-auto my-2 h-[calc(100%_-_48px)] w-[1055px] overflow-y-auto">
    <div class="table-border sticky top-0 z-10 mx-auto flex h-12 bg-white text-center">
      <div class="w-72 px-1 pt-3 text-left">Type d'antécédent</div>
      <div class="w-48 p-0.5 text-sm">Nombre de patients concernés</div>
      <div class="w-48 p-0.5 text-sm">Pourcentage de la catégorie</div>
      <div class="w-48 p-0.5 text-sm">Pourcentage dans la catégorie</div>
      <div class="w-48 p-0.5 text-sm">Pourcentage au global</div>
    </div>
    <div class="text flex flex-col text-center" *ngFor="let pathology of filteredPathologies; let p = index">
      <div class="table-border flex">
        <div class="w-72 p-1 text-left capitalize">{{ PathologyType[pathology.type] }}</div>
        <div class="w-48 p-1">{{ pathology.occurence }}</div>
        <div class="w-48 p-1">{{ fixed(pathology.presence * 100) }} %</div>
        <div class="w-96 cursor-pointer p-1 text-right" (click)="pathology.details = !pathology.details">
          <i class="fa-solid fa-arrow-up" [ngClass]="{ 'rotate-180': !pathology.details }"></i> Details
        </div>
      </div>
      <div *ngIf="pathology.details" class="flex flex-col">
        <div *ngFor="let sub of pathology.subTypes; let s = index" class="table-border flex">
          <div class="w-72 p-1 pl-8 text-left">{{ sub.name }}</div>
          <div class="w-48 p-1">{{ sub.occurence }}</div>
          <div class="w-48 p-1"></div>
          <div class="w-48 p-1">{{ fixed(sub.subPresence * 100) }} %</div>
          <div class="w-48 p-1">{{ fixed(sub.totalPresence * 100) }} %</div>
        </div>
      </div>
      <!--div class="flex px-12">
        <span class="w-14">{{ fixed(pathology.amount.mean * 100) }} %</span>
        <span class="text-xs leading-7 w-14">σ {{ fixed(pathology.amount.sigma * 100) }}</span>
      </div>
      <div class="w-72">[{{ pathology.rangeTotal[1] }} - {{ pathology.rangeTotal[0] }}]</div>
      <div class="w-72">
        [{{ fixed(pathology.rangePercent[1] * 100) }}% - {{ fixed(pathology.rangePercent[0] * 100) }}%]
      </div-->
    </div>
  </div>
</div>
