@tailwind base;
@tailwind components;
@tailwind utilities;
@import '../../assets/fontawesome/css/all.css';

html,
body {
  height: 100%;
  overflow-y: hidden;
  max-width: 1920px;
  margin: 0 auto;
  background-color: #212121;
}

body {
  margin: 0;
}

@font-face {
  font-family: 'centuryGhotic';
  src: url('../../assets/font/CenturyGothic.ttf');
}

.text-no-overflow {
  @apply overflow-hidden text-ellipsis whitespace-nowrap;
}

.filter-blue {
  filter: invert(55%) sepia(30%) saturate(7000%) hue-rotate(165deg) brightness(95%) contrast(100%);
}

.main-container {
  @apply relative block;
}

// USED NOW

.bg-base {
  background-position: center;
  background-size: cover;
  background-color: black;
}

.bg-main {
  background-image: url('/assets/img/main.webp');
}

.bg-rune {
  background-image: url('/assets/img/rune.webp');
}

.bg-theme {
  background-image: url('/assets/img/theme.jpg');
}

.bg-sky {
  background-image: url('/assets/img/sky.webp');
}

.bg-frame {
  background: url('/assets/img/frame.webp') no-repeat center center / cover;
}

.bg-header {
  background: url('/assets/img/header3.webp') no-repeat center center / cover;
}

.bg-button {
  background: url('/assets/img/button.jpeg') no-repeat center / cover;
}

.bg-frame-clean {
  background: url('/assets/img/clean.webp') no-repeat center center / cover;
}

.section-transition {
  -webkit-mask-image: linear-gradient(to bottom, black, black calc(100% - 162px), transparent calc(100% - 160px)),
    url(../../assets/img/transition.webp);
  mask-image: linear-gradient(to bottom, black, black calc(100% - 162px), transparent calc(100% - 160px)),
    url(../../assets/img/transition.webp);
  -webkit-mask-position: center, bottom;
  mask-position: center, bottom;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  margin-bottom: calc(-120px);
}

.fritz-font {
  font-family: 'Frtzquad', serif;
}

@font-face {
  font-family: Frtzquad;
  src: url('../../assets/font/FRIZQUAD.TTF');
}

.frame {
  @apply border border-solid border-gwt-semi bg-gwt-back;
}

.typing {
  @apply border-2 border-solid border-gwt-brown bg-gwt-light;
}

.text-shadow {
  text-shadow: 0.08em 0.08em 0.2em var(--color-text-shadow, rgba(0, 0, 0, 0.9));
  filter: drop-shadow(0 0 0.4em var(--color-text-shadow, rgba(0, 0, 0, 0.4)));
}

.call-to {
  padding: 0.6em 1.6em;
  width: 200px;
  height: 80px;
}

.import {
  width: 180px;
  height: 40px;
}

.action {
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid white;
  border-radius: 5px;
  transition: box-shadow 0.3s;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}
.action:hover {
  filter: brightness(1.2);
  box-shadow: 0 0 10px white;
}

.bg-gradient {
  background-image: linear-gradient(to bottom right, grey, black);
}

.full {
  @apply h-full w-full;
}

.central-text {
  @apply absolute left-0 top-0 flex h-full w-full items-center justify-center;
}

/* Animations */
@keyframes flicker {
  from {
    transform: translateX(-50%) scaleY(1);
  }
  to {
    transform: translateX(-50%) scaleY(1.15);
  }
}

@keyframes melt {
  to {
    transform: scaleY(0);
  }
}

@keyframes drip {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(12px);
  }
}

.scroll {
  scrollbar-width: thin;
  scrollbar-color: #444 #222;
}

.scroll::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #222;
}

.scroll::-webkit-scrollbar {
  width: 10px;
  background-color: #222;
}

.scroll::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #444;
}
