.agents/
.git-old
.git-crash
.history
.vscode
assets/data.json
client/.angular
client/dist
client/node_modules
server/data/*old.json
server/data/banned.json
server/src/services/ban.service.ts
server/node_modules
server/promotion.txt
server/.env
skills-lock.json
