:host {
  overflow: hidden;

  ::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #222;
  }

  ::-webkit-scrollbar {
    width: 10px;
    background-color: #222;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #444;
  }
}

.no-animation {
  animation: none;
}
