<div class="h-full w-full overflow-y-auto bg-white pt-20 text-black">
  <div class="w-full text-center text-2xl">Analyses statistiques relative aux prescriptions de psychotropes</div>
  <div class="w-full pb-10 text-center text-2xl">pour les patients en EHPAD 34 en Haute-Vienne</div>
  <div class="mx-auto flex w-[800px] flex-col gap-4">
    Analyses présentes dans la thèses
    <div class="flex cursor-pointer gap-4 rounded-xl border-2 border-solid border-black p-2" (click)="goTo('remedies')">
      <i class="fas fa-file-invoice mx-1 p-1 text-[24px]"></i>
      <div class="text-lg font-semibold">Occurences de non respect des critères Remedies</div>
    </div>
    <div
      class="flex cursor-pointer gap-4 rounded-xl border-2 border-solid border-black p-2"
      (click)="goTo('antecedents-ctg')"
    >
      <i class="fas fa-table-list p-1 text-[24px]"></i>
      <div class="text-lg font-semibold">Contingences entre les antécédents et les prescriptions de psychotrope</div>
    </div>
    <div
      class="flex cursor-pointer gap-4 rounded-xl border-2 border-solid border-black p-2"
      (click)="goTo('pathologies')"
    >
      <i class="fas fa-person-falling-burst p-1 text-[24px]"></i>
      <div class="text-lg font-semibold">Occurences des antécédents chez les patients</div>
    </div>
    <div
      class="flex cursor-pointer gap-4 rounded-xl border-2 border-solid border-black p-2"
      (click)="goTo('caracteristic-ctg')"
    >
      <i class="fas fa-table-list p-1 text-[24px]"></i>
      <div class="text-lg font-semibold">
        Contingences entre les caractéristiques patients et les prescriptions de psychotrope
      </div>
    </div>
    <div
      class="flex cursor-pointer gap-4 rounded-xl border-2 border-solid border-black p-2"
      (click)="goTo('prevalences')"
    >
      <i class="fas fa-prescription-bottle-medical px-2 py-1 text-[24px]"></i>
      <div class="text-lg font-semibold">Prévalences des prescriptions par type de psychotrope</div>
    </div>
    <div
      class="flex cursor-pointer gap-4 rounded-xl border-2 border-solid border-black p-2"
      (click)="goTo('posologies')"
    >
      <i class="fas fa-pills p-1 text-[24px]"></i>
      <div class="text-lg font-semibold">Statistiques des prescriptions par type de psychotrope</div>
    </div>
    travail préliminaire non utilisé
    <div
      class="flex cursor-pointer gap-4 rounded-xl border-2 border-solid border-black p-2"
      (click)="goTo('antecedents')"
    >
      <i class="fas fa-person-falling-burst p-1 text-[24px]"></i>
      <div class="text-lg font-semibold">Corrélations entre les antécédents et les prescriptions de psychotrope</div>
    </div>
    <div
      class="flex cursor-pointer gap-4 rounded-xl border-2 border-solid border-black p-2"
      (click)="goTo('conditions-atc')"
    >
      <i class="fas fa-user-tag p-1 text-[24px]"></i>
      <div class="text-lg font-semibold">
        Corrélations entre les caractéristiques et les prescriptions de psychotrope ATC
      </div>
    </div>
    <div
      class="flex cursor-pointer gap-4 rounded-xl border-2 border-solid border-black p-2"
      (click)="goTo('conditions')"
    >
      <i class="fas fa-user-tag p-1 text-[24px]"></i>
      <div class="text-lg font-semibold">
        Corrélations entre les caractéristiques et les prescriptions de psychotrope
      </div>
    </div>
  </div>
</div>
