// Modal backdrop styling - the actual modal styling is in edit-order.component.scss
// This component just provides the backdrop overlay

:host {
  display: contents;
}

// Legacy card wrapper styles removed - Place Order button now in header
