<footer class="site-footer">
  <div class="footer-content">
    <div class="footer-left">
      <span class="copyright">&copy; 2026 GW Market</span>
      <!-- <span class="separator">&bull;</span>
      <a routerLink="/about" class="footer-link">About & Legal</a> -->

      <span class="legal"
        ><span class="separator mr-2">&bull;</span>ArenaNet LLC, Guild Wars, the logo and the backgrounds are registered
        trademarks. All rights are reserved worldwide.</span
      >
    </div>
    <div class="footer-right">
      <div routerLink="/about" (click)="goTo('about')">Learn More</div>
      <a routerLink="/about" (click)="goTo('about')" class="social-link" title="Learn More">
        <i class="fa fa-book-atlas"></i>
      </a>
      <div></div>
      <div href="https://discord.gg/a4pPyJ3paN" target="_blank">Feedback & Support</div>
      <a href="https://discord.gg/a4pPyJ3paN" target="_blank" class="social-link" title="Join Discord">
        <i class="fab fa-discord"></i>
      </a>
      <div></div>
      <div routerLink="/help" (click)="goTo('help')">Help (Q/A)</div>
      <a routerLink="/help" (click)="goTo('help')" class="social-link" title="Questions and Answers">
        <i class="fa fa-circle-question"></i>
      </a>
    </div>
  </div>
</footer>
