<div class="fixed">
  <span
    class="tooltip-text w-fit whitespace-nowrap"
    [ngStyle]="{
      width: width ? width : 'fit-content',
      color: textColor ? textColor : 'white',
      'font-size': textSize ? textSize : 'smaller',
      'background-color': backgroundColor ? backgroundColor : '#555',
      top: containerStyle.top,
      bottom: containerStyle.bottom,
      left: containerStyle.left,
      right: containerStyle.right
    }"
    ><span *ngIf="text">{{ text }}</span
    ><span *ngIf="texts?.length" class="flex flex-col flex-nowrap"
      ><span *ngFor="let line of texts">{{ line }}</span></span
    >
    <span
      class="tooltip-arrow"
      [ngStyle]="{
        transform: 'rotate(' + arrowStyle.rotation + ')',
        'border-color': backgroundColor
          ? backgroundColor + ' transparent transparent transparent'
          : '#555 transparent transparent transparent',
        top: arrowStyle.top,
        bottom: arrowStyle.bottom,
        left: arrowStyle.left,
        right: arrowStyle.right
      }"
    ></span>
  </span>
</div>
