:host {
  position: absolute;
  left: 0px;
  top: 0px;
}

/* Tooltip text */
.tooltip-text {
  position: absolute;
  z-index: 1000;
  opacity: 0.95;
  text-align: center;
  padding: 8px;
  border-radius: 8px;
}

/* little arrow */
.tooltip-arrow {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 5px;
}
