<div class="h-full w-full bg-white text-black">
  <div class="sticky top-0 mx-auto flex justify-between bg-white font-semibold" [formGroup]="form">
    <i class="fas fa-share-from-square cursor-pointer p-1 text-[40px]" (click)="goBack()"></i>
    <div class="p-2 text-2xl">Prévalences des prescriptions par type de psychotrope</div>
    <div class="flex h-8 p-2">
      <i class="fas fa-search p-1 text-[24px]"></i>
      <input type="text" formControlName="search" class="bg-white" />
    </div>
  </div>
  <div class="reltative table-border mx-auto my-2 h-[calc(100%_-_48px)] w-[944px] overflow-y-auto">
    <div class="sticky top-0 z-10 mx-auto flex h-14 bg-white text-center">
      <div class="w-40 text-left">Type de psychotrope</div>
      <div class="w-52">Prévalences de prescription</div>
      <div class="w-72">Total des patients concernés <br />dans le departement (a 95%)</div>
      <div class="w-72">
        Poucentage des patient concernés <br />
        dans le departement (a 95%)
      </div>
    </div>
    <div class="text flex text-center" *ngFor="let prevalence of filteredPrevalences; let p = index">
      <div class="w-40 px-2 text-left">{{ prevalence.type }}</div>
      <div class="flex px-12">
        <span class="w-14">{{ fixed(prevalence.amount.mean * 100) }} %</span>
        <span class="w-14 text-xs leading-7">σ {{ fixed(prevalence.amount.sigma * 100) }}</span>
      </div>
      <div class="w-72">[{{ prevalence.rangeTotal[1] }} - {{ prevalence.rangeTotal[0] }}]</div>
      <div class="w-72">
        [{{ fixed(prevalence.rangePercent[1] * 100) }}% - {{ fixed(prevalence.rangePercent[0] * 100) }}%]
      </div>
    </div>
  </div>
</div>
