<div class="h-full w-full bg-white text-black">
  <div class="sticky top-0 mx-auto flex justify-between bg-white font-semibold" [formGroup]="form">
    <i class="fas fa-share-from-square cursor-pointer p-1 text-[40px]" (click)="goBack()"></i>
    <div class="p-2 text-2xl">Corrélations entre les antécédents et les prescriptions de psychotrope</div>
    <div class="flex h-8 p-2">
      <i class="fas fa-search p-1 text-[24px]"></i>
      <input type="text" formControlName="search" class="bg-white" />
    </div>
  </div>
  <div class="reltative mx-auto my-2 h-[calc(100%_-_48px)] w-[1200px] overflow-y-auto">
    <div class="sticky top-0 z-10 mx-auto flex bg-white text-center">
      <div class="w-48 text-left">Analyse</div>
      <div class="w-48">Tests Khi²</div>
      <div class="w-40">Difference relative</div>
      <div class="w-40">échant. testé</div>
      <div class="w-40">échant. controle</div>
      <div class="w-40">valeur testée</div>
      <div class="w-40">valeur controle</div>
    </div>
    <div class="sticky top-6 z-10 mx-auto flex bg-white text-center">
      <div class="w-48 text-left"></div>
      <div class="w-16">95%</div>
      <div class="w-16">99%</div>
      <div class="w-16">99.9%</div>
    </div>
    <div
      class="text flex text-center"
      [ngClass]="translateTestToStyle(patho.khi2Tests)"
      *ngFor="let patho of filteredAnalysis; let p = index"
    >
      <div class="w-48 text-left">{{ patho.name }}</div>
      <div class="w-16" *ngFor="let test of patho.khi2Tests; let t = index">
        <i class="fas p-1 text-[24px]" [ngClass]="test.valid ? 'fa-check' : 'fa-xmark'"></i>
      </div>
      <div class="w-40">{{ patho.difference }} %</div>
      <div class="w-40">{{ patho.tested }}</div>
      <div class="w-40">{{ patho.controlled }}</div>
      <div class="w-40">{{ fixed(patho.test) }}</div>
      <div class="w-40">{{ fixed(patho.control) }}</div>
    </div>
  </div>
</div>
